.wrapper-checkOut {
  margin-top: 100px;

  .inner-checkOut {
    .order-title {
      margin-bottom: 30px;
    }
    .order-items{
      width: 100%;
      text-align: start;
      thead {
        border-color: #cfcece !important;
        border-bottom: 1px dashed #cfcece;
      }
      tr {
        th, td {
          padding: 5px;
          text-align: start;
          max-width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .sum {
      border-top: 1px dashed #cfcece;
      padding: 10px;
    }

    .userInfo {
      margin-top: 50px;

      .titleInfo {
        margin-bottom: 30px;
      }

      form {
        border: 1px dashed var(--nav-back);;
        padding: 10px;

        .input-container {
          .inputPair {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            mat-form-field {
              padding-right: 15px;
              max-width: 250px !important;
              width: 100% !important;
              input {
                border-radius: 3px;
              }
            }
          }
          div.order-button {
            button {
              min-width: 100px !important;
              width: 100%;
            }
          }
        }
      }
    }
  }


}

