<div class="wrapper wrapper-checkOut">
  <div class="inner inner-checkOut">
    <div class="order-title" fxLayout="row" fxLayoutAlign="center center">
      <h3>Vaša narudžbina</h3>
    </div>
    <table class="order-items">
      <thead>
      <tr>
        <th>Ime</th>
        <th>Kolicina</th>
        <th>Salate</th>
        <th>Namazi</th>
        <th>Cena</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cartItem of cartItems">
        <td>{{cartItem.product.name}}</td>
        <td>{{cartItem.quantity}}</td>
        <td>{{cartItem.salads}}</td>
        <td>{{cartItem.toppings}}</td>
        <td>{{ cartItem.quantity * cartItem.product.price}} din.</td>
      </tr>
      </tbody>
    </table>
    <!-- <div class="orderInfo" *ngFor="let cartItem of cartItems" fxLayout="row" fxLayoutAlign="space-between">

       <div class="itemName">
         <p>{{cartItem.product.name}}</p>
       </div>
       <div class="itemAmount">
         <p>Kom: {{ cartItem.quantity }}</p>
       </div>
       <div class="itemPrice">
         <p>cena: {{ cartItem.quantity * cartItem.product.price}} din.</p>
       </div>
       <div class="salads">
         {{cartItem.salads}}
       </div>
       <div class="toppings">
         {{cartItem.toppings}}
       </div>
    </div>-->
    <div class="sum" fxLayout="row" fxLayoutAlign="end center">
      <p>Ukupno: {{sum}} din.</p>
    </div>
    <div class="userInfo">
      <div class="titleInfo" fxLayout="row" fxLayoutAlign="center center">
        <h3>Vaši podaci</h3>
      </div>
      <form (submit)="addOrder()" [formGroup]="form">
        <div class="input-container" fxLayout="column" fxLayoutAlign="center center">
          <div class="inputPair">
            <mat-form-field class="firstName">
              <mat-label>Ime</mat-label>
              <input matInput type="text" formControlName="firstName">
              <mat-error *ngIf="firstName?.errors?.required">Morate uneti vaše ime</mat-error>
            </mat-form-field>
            <mat-form-field class="lastName">
              <mat-label>Prezime</mat-label>
              <input matInput type="text" formControlName="lastName">
              <mat-error *ngIf="lastName?.errors?.required">Morate uneti vaše prezime</mat-error>
            </mat-form-field>
          </div>
          <div class="inputPair">
            <mat-form-field class="streetName">
              <mat-label>Ime ulice</mat-label>
              <input matInput type="text" formControlName="streetName">
              <mat-error *ngIf="streetName?.errors?.required">Morate uneti ulice</mat-error>
            </mat-form-field>
            <mat-form-field class="houseOrBuildingNum">
              <mat-label>Broj kuće/zgrade</mat-label>
              <input matInput type="number" formControlName="houseOrBuildingNum">
              <mat-error *ngIf="houseOrBuildingNum?.errors?.required">Morate uneti broj zgrade/kuće</mat-error>
            </mat-form-field>
          </div>
          <div class="inputPair">
            <mat-form-field class="apartmentNum">
              <mat-label>Broj stana</mat-label>
              <input matInput type="number" formControlName="apartmentNum">
              <mat-error *ngIf="apartmentNum?.errors?.required">Morate uneti broj stana</mat-error>
            </mat-form-field>
            <mat-form-field class="phoneNumber">
              <mat-label>Broj telefona</mat-label>
              <input matInput type="number" formControlName="phoneNum">
              <mat-error *ngIf="phoneNumber?.errors?.required">Morate uneti broj telefona</mat-error>
            </mat-form-field>
          </div>
          <div class="order-button">
            <button class="primary order" mat-flat-button type="submit" [disabled]="!form.valid">
              Poručite
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
