.wrapper-checkOut {
  
  position: relative;

  .inner-checkOut {
   margin-top: 50px;
    .order-title {
      margin-bottom: 30px;
    }
    .order-items {
      width: 100%;
      text-align: start;
      thead {
        border-color: #cfcece !important;
        border-bottom: 1px dashed #cfcece;
      }
      tr {
        th,
        td {
          padding: 5px;
          text-align: start;
          max-width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .sum {
      border-top: 1px dashed #cfcece;
      padding: 10px;
    }

    .userInfo {
      margin-top: 50px;

      .titleInfo {
        margin-bottom: 30px;
      }

      form {
        border: 1px dashed var(--nav-back);
        padding: 10px;

        .input-container {
          .inputPair {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            mat-form-field {
              padding-right: 15px;
              max-width: 250px !important;
              width: 100% !important;
              input {
                border-radius: 3px;
              }
            }
          }
          div.order-button {
            button {
              min-width: 100px !important;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .single-message-container {
   width: 100vw;
   height: 100%;
   background-color: #00000080;
   position: absolute;
   top: 0;
   left: 0;
   div {
     position: absolute;
     top: 150px;
     left: 50%;
     transform: translate(-50%, 0);
     width: 280px;
     height: 250px;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
     background-color: #ffffff;

     p {
      font-size: 17px;
      margin-bottom: 30px;
     }
   }
 
 }
 
}

