.inner-product-group {
  mat-card.product-group {
    padding: 0 0 0 0 !important;
    max-width: 400px;
    height: auto;
    .image-container {
     overflow-y: hidden;
     border-radius: 4px;
    }
    mat-accordion {
      mat-expansion-panel {
        margin-top: -30px !important;

        mat-expansion-panel-header {
          font-size: 18px;
          height: 37px;
        }
      }
     }
  }
}

@media only screen and (max-width: 480px) {
  .inner-product-group {
    mat-card.product-group {
      margin-right: 0px !important;
    }
  }
}
