<div class="inner inner-product-group" fxLayout="row" fxLayoutAlign="center center">
 <mat-card class="product-group matCard-style">
  <div fxLayout="row" fxLayoutAlign="center center">
   <img class="matCard-image" mat-card-image src="{{groupItem.imagePathMed}}" alt="" >
  </div>
  <mat-accordion>
   <mat-expansion-panel>
     <mat-expansion-panel-header>
        {{groupItem.name}}
     </mat-expansion-panel-header>
     <div *ngFor="let listItem of barbList">
       <div *ngIf="groupItem.type === listItem.type" class="barbList">
        <app-product-overview [listItem]="listItem"></app-product-overview>
       </div>
      </div>
      <div *ngFor="let listItem of sandList">
       <div *ngIf="groupItem.type === listItem.type">
        <app-product-overview [listItem]="listItem"></app-product-overview>
       </div>
      </div>
   </mat-expansion-panel>
  </mat-accordion>
 </mat-card>
</div>
