<div class="inner inner-product-item" fxLayout="row" fxLayoutAlign="center center">
 <mat-card class="product-item">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
   <mat-card-title class="title" >{{item.name}}</mat-card-title>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="center center">
   <img class="itemImage" mat-card-image src="{{item.imagePath}}" alt="" >
  </div>

  <mat-card-content>
   <p class="description">{{item.description}}</p>
   
  </mat-card-content>
 </mat-card>
</div>
