.inner-product-group {
  mat-card.product-group {
    padding: 10px 0 0 0 !important;
    max-width: 400px;

    .mat-card-header-text {
      margin: 10px 0 20px 0;
    }

    mat-card-content {
      p.groupDescription {
        max-width: 280px !important;
        width: 100%;
      }
    }

    .linkToGroup {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@media only screen and (max-width: 480px) {
  .inner-product-group {
    mat-card.product-group {
      margin-right: 0px !important;
    }
  }
}
