.shop-cart-item {
  padding: 10px;
  border-top: 1px dashed var(--text);

  .image-cont {
    img.image {
      max-width: 180px;
      min-width: 50px;
      width: 100%;
      height: auto;
    }
  }

   .item-info {
     max-width: 280px;
     min-width: 200px;
     width: 100%;
   }
  .priceAndRemove {
    max-width: 115px;
    width: 100%;
    height: 120px;

    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      p {
        display: inline-block;
        font-size: 18px;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .shop-cart-item {

    .item-info {
      max-width: 180px !important;
    }
    .price {
      margin-right: 0px !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .shop-cart-item {
    .image-cont {
      display: none !important;
    }
    .priceAndRemove {
      .price {
        p {
          font-size: 17px !important;
        }
      }
      .remove {
        button.remove-button.mat-raised-button {
          padding: 0 5px;
          min-width: 55px;
        }
      }
    }
  }
}
