<div class="wrapper wrapper-products">
 <div class="inner inner-products">
  <div class="title-products" fxLayout="row" fxLayoutAlign="center center">
   <h1>Specijaliteti od piletine</h1>
  </div>
  <div class="productItems-container" fxLayout="row wrap" fxLayoutAlign="center center">
   <div *ngFor="let item of productItems">
    <app-product-item [item]="item" [ngClass]="{'chicken-item': item.type === 'chicken'}"></app-product-item>
   </div>
  </div>
  <app-product-nav></app-product-nav>
 </div>
</div>