.wrapper-shop-cart {
  overflow: auto;
  height: auto;

  .inner-shop-cart {
    margin-top: 60px;
    padding: 10px;
    margin-bottom: 50px;

    .title-shop-cart {
     margin-top: 30px;
     margin-bottom: 30px;
      h1 {
        color: var(--text);
        border-bottom: 2px dotted var(--nav-back);
      }
    }

    .shop-cart-container {
      width: 100%;
    }

    .clearAll-priceSum {
      padding-top: 25px;
      border-top: 1px dashed var(--text);
      margin-right: 10px;

      p {
        font-size: 22px;
        margin-bottom: 0px;
      }
    }

    .forw-back {
      margin-top: 50px;
      max-width: 1180px;
      width: 100%;
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      padding: 7px;
      background-color: rgba(255, 255, 255, 0.733);

      .back {
        margin-right: 0px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .inner-shop-cart {
    padding-bottom: 80px !important;

    .title-shop-cart {
      h1 {
        font-size: 20px !important;
      }
    }

    .clearAll-priceSum {
      .priceSum {
        p {
          font-size: 20px !important;
        }
      }
      .clear-all {
        button.clear-all-button.mat-raised-button {
          padding: 0 10px !important;
        }
      }
    }
    .forw-back {
      button.mat-raised-button.forw-button,
      button.mat-raised-button.back-button {
        padding: 0 10px !important;
      }
    }
  }
}
