<div class="wrapper wrapper-shop-cart">
 <div class="inner inner-shop-cart" fxLayout="column" fxLayoutAlign="center">
  <div class="title-shop-cart" fxLayout="row" fxLayoutAlign="center center">
   <h1>Vaša Porudžbina</h1>
  </div>
  <div class="shop-cart-container" fxLayout="column" fxLayoutAlign="space-between">
   <app-cart-item
    *ngFor="let item of cartItems;
    let i = index;"
    [item]="item"
    [index]="i"
    (updatePrice)="onChangeSum(index)">
   </app-cart-item>
  </div>
  <div class="clearAll-priceSum" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="clear-all">
      <button mat-raised-button class="primary clear-all-button" type="button" (click)="clearItems()">
        obrišite sve
      </button>
    </div>
    <div class="priceSum">
      <p>Ukupno: {{ sum }} din.</p>
    </div>
  </div>
  <div class="forw-back" fxLayout="row" fxLayoutAlign="space-between center">
   <div class="back">
    <button mat-raised-button class="secondary forw-button" type="button" (click)="goBack()">nastavite kupovinu
    </button>
   </div>
   <div class="forward">
    <button mat-raised-button class="secondary back-button" type="button" (click)="goForward()">završite kupovinu
    </button>
   </div>
  </div>
 </div>
</div>
