<div class="wrapper wrapper-home">
 <div class="inner inner-home">
  <div class="hero" fxLayout="row" fxLayoutAlign="center center">
   <picture>
    <img class="heroImg" src="../../../assets/images/hero.png" alt="Food hunter hero image">
    <source srcset="../../../assets/images/hero.webp" type="image/webp"  media="(max-width: 800px)">
    <source srcset="../../../assets/images/hero.png" type="image/png">
   </picture>
  </div>
  <div class="order" fxLayout="row" fxLayoutAlign="center center">
    <a class="orderLink" (click)="loadMenu()">
     <button class="orderButt primary" mat-raised-button>
      Poručite
     </button>
    </a>
  </div>
 </div>
</div>



