<div class="wrapper wrapper-home">
 <div class="inner inner-home">
  <div class="hero" fxLayout="row" fxLayoutAlign="center center">
   <picture>
    <img class="heroImg" src="../../../assets/images/hero.png" alt="Food hunter hero image">
   </picture>
  </div>
  <div class="order" fxLayout="row" fxLayoutAlign="center center">
    <a class="orderLink" (click)="loadMenu()">
      <button 
       class="orderButt primary" 
       mat-raised-button 
      >
       <!--(click)="onSignUpIn(userEmail.value, userPass.value)"-->
       Poručite
      </button>
    </a>
    <div style="margin-left: 20px;">
     <input type="text" value="{{userEmailAndPassAutoValue}}@some.net" #userEmail>
     <input type="text" value="{{userEmailAndPassAutoValue}}" #userPass>
    </div>
  </div>
  
 </div>
</div>



