<div class="inner inner-product-item" fxLayout="row" fxLayoutAlign="center center">
 <mat-card class="product-item">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
   <mat-card-title class="title" >{{item.name}}</mat-card-title>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="center center">
   <img class="itemImage" mat-card-image src="{{item.imagePath}}" alt="" >
  </div>

  <mat-card-content>
   <p class="description">{{item.description}}</p>
   <form (submit)="addToCart()" [formGroup]="form">
    <mat-form-field appearance="legacy">
     <mat-label>Kolicina</mat-label>
     <mat-select formControlName="quantity">
      <mat-option
       *ngFor="let quantity of quantities"
       [value]="quantity"> {{quantity}}
      </mat-option>
     </mat-select>
    <mat-error *ngIf="quantityControl?.errors?.required">Morate izabrati kolicinu</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
     <mat-label>Namazi</mat-label>
     <mat-select formControlName="toppings" multiple>
      <mat-option 
       *ngFor="let topping of toppingList"
       [value]="topping">{{topping}}
      </mat-option>
     </mat-select>
     <mat-error *ngIf="toppingsChoice?.errors?.required">Morate izabrati namaze</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="legacy">
     <mat-label>Salate</mat-label>
     <mat-select formControlName="salads" multiple>
      <mat-option 
       *ngFor="let salad of saladList"
       [value]="salad">{{salad}}
      </mat-option>
     </mat-select>
     <mat-error *ngIf="saladChoice?.errors?.required">Morate izabrati salate</mat-error>
    </mat-form-field>
    <div class="priceAndAddToCart" fxLayout="row" fxLayoutAlign="space-between center">
     <div class="price" fxFlexAlign="start">
      <p>Cena: {{item.price}} din.</p>
     </div>
     <div class="addToCart" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="start start">
       <button class="primary" mat-flat-button type="submit"
        matTooltip="Dodali ste proizvod u korpu!"
        matTooltipPosition="above"
        matTooltipClass="tooltip"
        (mouseenter)="$event.stopImmediatePropagation()" 
        (mouseleave)="$event.stopImmediatePropagation()" 
        #tooltip="matTooltip" (click)="showAndHideTooltip()"
        [disabled]="!form.valid">
        Dodaj u Korpu!
       </button>
      </div>
       <mat-error *ngIf="!form.valid">Izaberite namaze i salate</mat-error>
     </div>
    </div>
   </form>
  </mat-card-content>
 </mat-card>
</div>