// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$materijal-practice-app-primary: mat-palette($mat-indigo);
$materijal-practice-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$materijal-practice-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$materijal-practice-app-theme: mat-light-theme(
    (
      color: (
        primary: $materijal-practice-app-primary,
        accent: $materijal-practice-app-accent,
        warn: $materijal-practice-app-warn,
      ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($materijal-practice-app-theme);

/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "./app/pages/home/home.component.scss";
@import "./app/pages/about/about.component.scss";
@import "./app/pages/contact/contact.component.scss";
@import "./app/pages/shop-cart/shop-cart.component.scss";
@import "./app/shared/cart-item/cart-item.component.scss";
@import "./app/shared/product-group/product-group.component.scss";
@import "./app/pages/check-out/check-out.component.scss";




::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow-y: scroll;

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;


    .inner {
      max-width: 1200px;
      width: 100%;
      box-sizing: border-box;

      a {
        text-decoration: none;
        color: white;
      }

      p {
        font-size: 15px;
      }

      h1 {
        font-weight: 300;
        font-size: 26px;
        letter-spacing: 0.07em;
      }
    }
  }

  mat-icon {
    color: var(--text);
  }

  div.cdk-global-overlay-wrapper {
    div.cdk-overlay-pane { //panel koji sadrzi mat-dialog
      z-index: 99999;
      max-width: 90vh !important;
      width: 400px !important;

      mat-dialog-container.mat-dialog-container {
        padding: 0px !important;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    div.cdk-global-overlay-wrapper {
      div.cdk-overlay-pane {
        height: 100%;
      }
    }
  }


  .matCard-style {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    box-sizing: border-box;
    color: var(--text);
    font-weight: 400;
  }

  mat-card-title.matCard-title-style {
    font-size: 20px !important;
    color: var(--text);
    margin-bottom: 0px !important;
    padding-bottom: 10px;
  }

  .matCard-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }


  .mat-snack-bar-container {
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    max-width: 210px !important;
    height: 45px !important;
    text-align: center !important;

  }

  button.primary {
    background-color: var(--nav-back);
    color: var(--white);

    &:hover {
      background-color: #790606;
    }
  }

  button.secondary {
    background-color: #5d6166;
    color: var(--white);

    &:hover {
      background-color: #4f5255;
    }
  }
  .single-message-container {
   width: 100%;
   height: 100%;
   background-color: #00000080;
   position: absolute;
   top: 0;
   left: 0;
   div {
     position: absolute;
     top: 150px;
     left: 50%;
     transform: translate(-50%, 0);
     width: 280px;
     height: 250px;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
     background-color: #ffffff;

     p {
       font-size: 17px;
       margin-bottom: 30px;
     }
   }
 }
}
